* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/wood-2.png");
}

img {
  height: 200px;
  width: 200px;
  margin: 15px;
  display: inline;
}

#image-header {
  /* width: 100%; */
  display: inline;
}

/* #container { */
/* align-content: center;
  text-align: center; */
/* clear: both; */

/* } */

#question-box {
  height: 1250px;
  width: 1050px;
  background-color: maroon;
  margin: 150px 200px 100px 200px;
  text-align: center;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.6;
  color: cornsilk;
  border: solid white 2px;
  /* margin-top: 80px; */
  line-height: 1.75;
  /* display: inline; */
}

#start {
  height: 100px;
  width: 200px;
  background-color: chocolate;
  border: 2px solid blue;
  color: #ffff;
  font-size: xx-large;
  padding: 20px;
  margin: 50px;
  cursor: pointer;
}

#start:hover {
  background: plum;
  border: 2px solid blue;
}
#done:hover {
  background: plum;
  border: 2px solid blue;
}

#done {
  height: 100px;
  width: 200px;
  background-color: chocolate;
  color: #ffff;
  font-size: xx-large;
  padding: 20px;
  margin: 100px;
  border: solid blue 2px;
  cursor: pointer;
  float: right;
  /* clear: both; */
}

/* #buttons {
  height: 100px;
  width: 200px;
  background-color: chocolate;
  color: #ffff;
  font-size: xx-large;
  padding: 20px;
  margin: 100px;
} */

h1 {
  font-stretch: extra-expanded;
  font-size: xx-large;
  margin-top: 30px;
  margin-bottom: 40px;
  color: yellow;
}

h4 {
  color: cornsilk;
  margin-bottom: 10px;
  font-size: 25px;
}

h2 {
  color: yellow;
}

p {
  font-size: x-large;
  color: yellow;
}

/* #image-header {
  display: inline;
} */

/* #one {
  margin-left: 20px;
  margin-top: 40px;
  margin-right: 40px;
}
#seven {
  margin-right: 30px;
} */

/* #six { */
/* margin-left: 20px;
  margin-bottom: 100px;
  margin-top: 40px;  */

/* float: right;
  margin-right: 20px;
  margin-top: 40px;
  margin-left: 30px;
} */

/* #five {
  float: right;
  margin-right: 40px;
  margin-top: 40px;
} */

/* #four {
  float: right;
  margin-right: 40px;
  margin-top: 40px;
} */

/* #three {
  clear: both;
  margin-right: 30px;
  margin-top: 40px;
} */

/* #two {
  float: right;
  margin-right: 20px;
  margin-top: 40px; */

/* clear: right; */
/* } */
